#!/bin/bash

SRC_FEED="http://127.0.0.1:15743/[your instapaper username]/unread"
DEST_FEED="http://yourdomain.com/instapaper"
DEST_RSYNC="ssh_user@yourdomain.com:/home/username/yourdomain.com/instapaper"
READOMATOR_PATH="/Applications/Readomator.app"
